/*-----------------------------------*/
/* Table Pricing */
/*-----------------------------------*/

.pricing_box {padding-top: 9px; text-align: center;}
.pricing_box.price_style2{padding-top: 11px;}

.price_col_head .badge {display: none;}
.col_active .price_col_head .badge {display: block; position:absolute;}

.pricing_box li.price_col {
    display: inline-block;
    width:100%;
    padding:0;
    margin:0 -4px;
    text-align:center;
    vertical-align: top;
}
.price_col {
    position:relative;
    z-index:2;
}
.price_col.last {
    z-index:1;
}
.price_col_head {
    position:relative;
    background:#847a6e;
    color:#fff;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.price_col_head .price {
    display:block;
    padding:0;
    color:#fff;
    font-size:37px;
    font-weight: 700;
    height: 52px;
    line-height: 52px;
    letter-spacing: -1px;
    -webkit-box-shadow: inset 0 -6px 6px -3px rgba(73,73,73,.3);
    -moz-box-shadow: inset 0 -6px 6px -3px rgba(73,73,73,.3);
    box-shadow: inset 0 -6px 6px -3px rgba(73,73,73,.3);
}
.price_col_head .price em {
    font-size:37px;
    margin-right:3px;
    font-weight:700;
    font-style:normal;
    color:#fff;
}
.col_active .price_col_head .price em {font-size:45px;}

.price_col_head .price span {
    vertical-align: baseline;
    position: relative;
    top: -0.7em;
    margin-left:2px;
    font-size:0.5em;
    color:#efe7de;
    font-weight:700;
}
.price_body_top strong {
    font-size:27px;
    display:block;
    margin-bottom: 10px;
    color:#fff;
    font-weight:700;
    font-style: italic;
}
.price_body_top span {
    font-size:11px;
    display:block;
    text-transform: uppercase;
    font-weight:700;
}
.price_col .price_col_body .price_body_inner{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    padding: 27px 0;
    margin:24px auto;
    width:160px;
}
.price_body_top .line {
    width:80px;
    height:1px;
    margin:0 auto;
}

.price_col.price_col_blue .price_col_body .price_body_inner {background:#6e9bb7;}
.price_col.price_col_yellow .price_col_body .price_body_inner {background:#edcd6e;}
.price_col.price_col_green .price_col_body .price_body_inner {background:#65c383;}
.price_col.price_col_red .price_col_body .price_body_inner {background:#e7643f;}

.price_col_blue .price_body_top .line {background: #a4cee7;}
.price_col_yellow .price_body_top .line {background: #fdf0ca;}
.price_col_green .price_body_top .line {background: #79dd98;}
.price_col_red .price_body_top .line {background: #ffc19b;}

.price_col_yellow .price_body_top  span {color:#fef4d8;}
.price_col_blue .price_body_top span {color:#a4cee7;}
.price_col_green .price_body_top span {color:#89eca8;}
.price_col_red .price_body_top span {color:#ffc19b;}

.price_col_body ul li {
    color:#fff;
    font-size:12px;
    display:block;
    line-height: 17px;
    padding:0;
    margin:0;
}
.price_col_body ul li:first-child {margin-top:5px;}

.price_col_foot {
    position:relative;
    background:#f8f3f0;
    padding:14px 0;
    color:#fff;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.col_active .price_col_foot{padding:17px 0;}

.col_active .price_col_body .price_body_inner {
    padding: 37px 0;
    margin: 14px auto;
    width: 180px;
}
.col_active .price_col_head {
    position: relative;
    background: #776b5e;
    color: #fff;
}
.col_active .price_item .price_col_head .price {
    font-size:45px;
    height: 70px;
    line-height: 70px;
}
.pricing_box li.col_active {
    width:100%;
    z-index:3;
    top:-9px;
}

/* price style 2 */

.pricing_box.price_style2 li.price_col {
    width: 290px;
    margin: 0 -8px;
}
.price_style2 .price_col_head .price {
    font-size: 45px;
    height: 68px;
    line-height: 68px;
}
.price_style2 .price_col_head .price em {font-size:45px;}
.price_style2 .col_active .price_col_head .price em {font-size:60px;}

.price_style2 .price_col_head .price span {
    top: -0.6em;
    margin-left:5px;
    font-size:0.6em;
}
.price_style2 .price_body_top strong {
    font-size:36px;
    margin-bottom: 12px;
}
.price_style2 .price_body_top span {font-size:14px;}

.price_style2 .price_col .price_col_body .price_body_inner{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    padding: 27px 0;
    margin:38px auto;
    width:204px;
}
.price_style2 .price_body_top .line {width:100px;}

.price_style2 .price_col_body ul li {
    font-size:15px;
    line-height: 22px;
}
.price_style2 .price_col_body ul li:first-child {margin-top:10px;}

.price_style2 .price_col_foot {padding:17px 0;}
.price_style2 .col_active .price_col_foot{padding:25px 0;}

.price_style2 .col_active .price_col_body .price_body_inner {
    padding: 31px 0;
    margin: 38px auto 31px;
    width: 224px;
}
.price_style2 .col_active .price_item .price_col_head .price {
    font-size:60px;
    height: 92px;
    line-height: 92px;
}
.pricing_box.price_style2 li.col_active {
    width:326px;
    top:-11px;
}
.boxed {
    background: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
	margin-bottom:30px;
	position: relative;
	z-index: 0;
}
.btn{
    position: relative;
    display:inline-block;
    padding: 0;
    border: none;
    background: none;
}

.btn span,
.btn input{
    display: block;
    height: 45px;
    line-height: 41px;
    border: 1px solid #c44a28;
    padding: 0 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 1px 2px 5px rgba(154,125,108,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 1px 2px 5px rgba(154,125,108,0.6);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 1px 2px 5px rgba(154,125,108,0.6);
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    text-shadow:none;
    background: rgb(233,106,70);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZTdlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZTk2YTQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0NTgzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgb(237,231,230) 0%, rgb(233,106,70) 2%, rgb(228,88,53) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(237,231,230)), color-stop(2%,rgb(233,106,70)), color-stop(100%,rgb(228,88,53)));
    background: -webkit-linear-gradient(top,  rgb(237,231,230) 0%,rgb(233,106,70) 2%,rgb(228,88,53) 100%);
    background: -o-linear-gradient(top,  rgb(237,231,230) 0%,rgb(233,106,70) 2%,rgb(228,88,53) 100%);
    background: -ms-linear-gradient(top,  rgb(237,231,230) 0%,rgb(233,106,70) 2%,rgb(228,88,53) 100%);
    background: linear-gradient(to bottom,  rgb(237,231,230) 0%,rgb(233,106,70) 2%,rgb(228,88,53) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede7e6', endColorstr='#e45835',GradientType=0 );
}

.btn:hover span, .btn.hover span, .btn:focus span, .btn:hover input, .btn.hover input, .btn:focus input{
    background: rgb(238,135,101);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZTdlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZWU4NzY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0NTgzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgb(237,231,230) 0%, rgb(238,135,101) 2%, rgb(228,88,53) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(237,231,230)), color-stop(2%,rgb(238,135,101)), color-stop(100%,rgb(228,88,53)));
    background: -webkit-linear-gradient(top,  rgb(237,231,230) 0%,rgb(238,135,101) 2%,rgb(228,88,53) 100%);
    background: -o-linear-gradient(top,  rgb(237,231,230) 0%,rgb(238,135,101) 2%,rgb(228,88,53) 100%);
    background: -ms-linear-gradient(top,  rgb(237,231,230) 0%,rgb(238,135,101) 2%,rgb(228,88,53) 100%);
    background: linear-gradient(to bottom,  rgb(237,231,230) 0%,rgb(238,135,101) 2%,rgb(228,88,53) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede7e6', endColorstr='#e45835',GradientType=0 );
}
.btn-blue span, .btn-blue input{
    border: 1px solid #457b9a;
    background: rgb(103,151,180);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjNjc5N2I0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1ODdhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgb(204,204,204) 0%, rgb(103,151,180) 2%, rgb(85,135,167) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204,204,204)), color-stop(2%,rgb(103,151,180)), color-stop(100%,rgb(85,135,167)));
    background: -webkit-linear-gradient(top,  rgb(204,204,204) 0%,rgb(103,151,180) 2%,rgb(85,135,167) 100%);
    background: -o-linear-gradient(top,  rgb(204,204,204) 0%,rgb(103,151,180) 2%,rgb(85,135,167) 100%);
    background: -ms-linear-gradient(top,  rgb(204,204,204) 0%,rgb(103,151,180) 2%,rgb(85,135,167) 100%);
    background: linear-gradient(to bottom,  rgb(204,204,204) 0%,rgb(103,151,180) 2%,rgb(85,135,167) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#5587a7',GradientType=0 );
}
.btn-blue:hover span, .btn-blue:focus span, .btn-blue:hover input, .btn-blue:focus input{
    background: rgb(112,161,193);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjNzBhMWMxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1ODdhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgb(204,204,204) 0%, rgb(112,161,193) 2%, rgb(85,135,167) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204,204,204)), color-stop(2%,rgb(112,161,193)), color-stop(100%,rgb(85,135,167)));
    background: -webkit-linear-gradient(top,  rgb(204,204,204) 0%,rgb(112,161,193) 2%,rgb(85,135,167) 100%);
    background: -o-linear-gradient(top,  rgb(204,204,204) 0%,rgb(112,161,193) 2%,rgb(85,135,167) 100%);
    background: -ms-linear-gradient(top,  rgb(204,204,204) 0%,rgb(112,161,193) 2%,rgb(85,135,167) 100%);
    background: linear-gradient(to bottom,  rgb(204,204,204) 0%,rgb(112,161,193) 2%,rgb(85,135,167) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#5587a7',GradientType=0 );
}
.btn-small span, .btn-small input{
    height: 32px;
    line-height: 30px;
    padding: 0 14px;
    font-size: 14px;
}
.btn-large span, .btn-large input{
    height: 51px;
    line-height: 47px;
    padding: 0 23px;
    font-size: 18px;
}

/* Responsive Feature */

@media (min-width: 992px) and (max-width: 1199px){
    .col-sm-8 .pricing_box li.price_col {width: 212px; margin:0 -11px;}
    .col-sm-8 .pricing_box li.col_active {width: 230px;}
}
@media (min-width: 768px) and (max-width: 991px){
    .pricing_box li.price_col {width: 180px; margin:0 -5px;}
    .col-sm-8 .pricing_box li.price_col{margin:0 -24px;}
    .pricing_box li.col_active {width: 200px;}
    .pricing_box.price_style2 li.price_col {width: 250px;}
    .pricing_box.price_style2 li.col_active {width: 260px;}

}
@media (max-width: 767px){
    .pricing_box li.price_col, .pricing_box.price_style2 li.price_col {
        display: block;
        width: 100%;
        margin: 0;
    }
    .pricing_box li.col_active, .pricing_box.price_style2 li.col_active {top:0;}
}