.label_check input,
.label_radio input  { margin-right: 5px;}
.has-js .label_check,
.has-js .label_radio    { padding-left: 100px !important; padding-bottom: 100px !important; position: relative; z-index: 1;  }
.has-js .label_radio    { }
.has-js .label_check    { background: url(check-off.png) no-repeat; }
.has-js label.c_on      { background: url(check-on.png) no-repeat; }
.has-js label.r_on      { }
.has-js .label_check input,
.has-js .label_radio input  { position: absolute; left: -9999px; }