#PBcover-mod .massb_item .hs_main {
	width: 100%;
	text-shadow: 0 2px 0 rgba(255,255,255,0.7);
}
#PBcover-mod .massb_item .hs_main h1, #PBcover-mod .massb_item .hs_main h2, #PBcover-mod .massb_item .hs_main h3, #PBcover-mod .massb_item .hs_main h4 {
	padding-left:5px} 
	#PBcover-mod .massb_item .hs_main h1 div, #PBcover-mod .massb_item .hs_main h2 div, #PBcover-mod .massb_item .hs_main h3 div, #PBcover-mod .massb_item .hs_main h4 div {
	padding-left:10px;
	padding-right:10px}   
/* hs 1 */

#PBcover-mod .massb_item .hs_main h1.hs-1 {
	margin: 0;
	color: #343434;
	font-weight: normal;
	/*font-family: 'Ultra', sans-serif;   */
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
	border-top:solid;
	border-bottom:solid;
}

#PBcover-mod .massb_item .hs_main h2.hs-1  {
	margin: 0;
	color: #343434;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
/*	font-family: 'Orienta', sans-serif;
*/	border-top:solid;
	border-bottom:solid;
}

#PBcover-mod .massb_item .hs_main h3.hs-1  {
	margin: 0;
	color: #343434;
	font-size: 22px;
	line-height: 40px;
	font-weight: normal;
	text-transform: uppercase;
/*	font-family: 'Orienta', sans-serif;
*/	letter-spacing: 1px;
	font-style: italic;
	border-top:solid;
	border-bottom:solid;
}

#PBcover-mod .massb_item .hs_main h4.hs-1 {
	margin: 0;
	color: #343434;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	/*font-family: 'Orienta', sans-serif;*/
	border-top:medium;
	border-bottom:medium;
}

/* hs 2 */

#PBcover-mod .massb_item .hs_main h1.hs-2 {
	margin: 0;
	font-weight: 600;
	/*font-family: 'Titillium Web', sans-serif;*/
	position: relative;  
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15%;
	color: #355681;
	box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
	border-radius: 0 10px 0 10px;
	background: #fff url(../images/bartoszkosowski.jpg) no-repeat center left;
}

#PBcover-mod .massb_item .hs_main h2.hs-2 {
	margin: 0;
	font-weight: normal;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	/*font-family: 'Muli', sans-serif;*/
}

#PBcover-mod .massb_item .hs_main h3.hs-2  {
	margin: 0;
	font-weight: 600;
	/*font-family: 'Titillium Web', sans-serif;*/
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	font-size: 22px;
	line-height: 40px;
	color: #355681;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
}

#PBcover-mod .massb_item .hs_main .hs-2 h4 {
	margin: 0;
	font-weight: 600;
	/*font-family: 'Titillium Web', sans-serif;*/
	position: relative;
	font-size: 18px;
	line-height: 20px;
	color: #788699;
	font-family: 'Muli', sans-serif;
}

/* hs 3 */
 
#PBcover-mod .massb_item .hs_main h2.hs-3:after, 
#PBcover-mod .massb_item .hs_main h3.hs-3:after, 
#PBcover-mod .massb_item .hs_main h4.hs-3:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	border-radius: 2px;
	box-shadow: 
	inset 0 1px 1px rgba(0,0,0,0.5), 
	0 1px 1px rgba(255,255,255,0.3);
}
#PBcover-mod .massb_item .hs_main h2.hs-3:after { background: #575757; }
#PBcover-mod .massb_item .hs_main h3.hs-3:after { background: #575757; }
#PBcover-mod .massb_item .hs_main h4.hs-3:after { background: #575757; }

#PBcover-mod .massb_item .hs_main h1.hs-3  {
	font-size: 36px;
	line-height: 40px;
	margin: 0;
	font-weight: normal;
	color: white;
	/*font-family: 'Hammersmith One', sans-serif;*/
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	color: #6Cf;
}

#PBcover-mod .massb_item .hs_main h2.hs-3 {
	margin: 0;
	font-weight: normal;
	color: white;
	/*font-family: 'Hammersmith One', sans-serif;*/
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 30px;
	line-height: 40px;
}

#PBcover-mod .massb_item .hs_main h3.hs-3  {
	margin: 0;
	font-weight: normal;
	color: white;
	/*font-family: 'Hammersmith One', sans-serif;*/
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 24px;
	line-height: 40px;
	font-family: 'Questrial', sans-serif;
}

#PBcover-mod .massb_item .hs_main h4.hs-3 { 
	margin: 0;
	font-weight: normal;
	color: white;
	/*font-family: 'Hammersmith One', sans-serif;*/
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 18px;
	line-height: 20px;
	font-family: 'Questrial', sans-serif;
}

/* hs 4 */


#PBcover-mod .massb_item .hs_main h2.hs-4:after, 
#PBcover-mod .massb_item .hs_main h3.hs-4:after, 
#PBcover-mod .massb_item .hs_main h4.hs-4:after {
	position: absolute;
	content: "";
	height: 1px;
	border-radius: 2px;
	left: 0;
	bottom: 0;
	box-shadow: 
		0 -1px 0 rgba(0,0,0,0.1), 
		0 1px 0 rgba(255,255,255,0.6);
}

#PBcover-mod .massb_item .hs_main h2.hs-4:after { width: 100%; } 
#PBcover-mod .massb_item .hs_main h3.hs-4:after { width:  100%; }
#PBcover-mod .massb_item .hs_main h4.hs-4:after { width:  100%; }


#PBcover-mod .massb_item .hs_main h1.hs-4  {
	margin: 0;
	color: #6B5344;
	font-weight: normal;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 36px;
	line-height: 40px;
/*	font-family: 'Carrois Gothic', sans-serif;
*/}

#PBcover-mod .massb_item .hs_main h2.hs-4  {
	margin: 0;
	color: #6B5344;
	font-weight: normal;
/*	font-family: 'Scada', sans-serif;
*/	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 30px;
	line-height: 40px;
}

#PBcover-mod .massb_item .hs_main h3.hs-4  {
	margin: 0;
	color: #6B5344;
	font-weight: normal;
/*	font-family: 'Scada', sans-serif;
*/	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 24px;
	line-height: 40px;
}

#PBcover-mod .massb_item .hs_main h4.hs-4 {
	margin: 0;
	color: #6B5344;
	font-weight: normal;
/*	font-family: 'Scada', sans-serif;
*/	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 18px;
	line-height: 20px;
}

/* hs 5 */


#PBcover-mod .massb_item .hs_main h1.hs-5 {
	margin: 0;
	color: #333;
	font-weight: normal;
/*	font-family: 'Orienta', sans-serif;
*/	font-size: 36px;
	line-height: 40px;
	/*counter-increment: section-1;
	counter-reset: section-2 section-3 section-4;*/
}

#PBcover-mod .massb_item .hs_main h2.hs-5 {
	background:url(../images/bg-thum.png) 0 0 repeat;
	margin:0;
	color: #333;
	font-weight: normal;
/*	font-family: 'Orienta', sans-serif;
*/	font-size: 30px;
	line-height: 40px;
	/*counter-increment: section-2;
	counter-reset: section-3 section-4;*/
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);

}

#PBcover-mod .massb_item .hs_main h3.hs-5 {
	margin: 0;
	color: #333;
	font-weight: normal;
/*	font-family: 'Orienta', sans-serif;
*/	font-size: 24px;
	line-height: 40px;
	/*counter-increment: section-3;
	counter-reset: section-4;*/
}

#PBcover-mod .massb_item .hs_main h4.hs-5 {
	margin: 0;
	color: #333;
	font-weight: normal;
/*	font-family: 'Orienta', sans-serif;
*/	font-size: 18px;
	line-height: 20px;
	/*counter-increment: section-4;*/
}

/*#PBcover-mod .massb_item .hs_main h1.hs-5:before { content: counter(section-1) ". "; }
#PBcover-mod .massb_item .hs_main h2.hs-5:before { content: counter(section-1) "." counter(section-2) " "; }
#PBcover-mod .massb_item .hs_main h3.hs-5:before { content: counter(section-1) "." counter(section-2) "." counter(section-3) " "; }
#PBcover-mod .massb_item .hs_main h4.hs-5:before { content: counter(section-1) "." counter(section-2) "." counter(section-3) "." counter(section-4) " "; }*/

/* hs 6 */

#PBcover-mod .massb_item .hs_main h1.hs-6 {
	margin: 0;
	font-weight: 100;
	text-transform: uppercase;
	color: #00caa6;
	font-style: italic;
/*	font-family: 'Josefin Sans', sans-serif;
*/	font-size: 58px;
	line-height: 40px;
	text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}

#PBcover-mod .massb_item .hs_main h2.hs-6 {
	color: #00CAA6;
/*    font-family: 'Josefin Sans',sans-serif;
*/    font-size: 58px;
    font-style: italic;
    font-weight: 100;
    line-height: 40px;
    margin: 0;
    text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

#PBcover-mod .massb_item .hs_main h3.hs-6 {
	margin:0;
	color: #343434;
	font-size: 22px;
	line-height: 40px;
	font-weight: 100;
	text-transform: uppercase;
/*	font-family: 'Josefin Sans', sans-serif;
*/	letter-spacing: 1px;
	font-style: italic;
}

#PBcover-mod .massb_item .hs_main h4.hs-6 {
	margin: 0;
	color: #343434;
	font-size: 18px;
	line-height: 40px;
	font-weight: 700;
/*	font-family: 'Josefin Sans', sans-serif;
*/}